.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    margin-right: -10px;
    padding-right: 0px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

/* .todo-indicator {
    position: absolute;
    width: 6px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
} */

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#87c0f0;
}

h1 {
    letter-spacing: 6px;
}

/*-------------------------*/
/*-------ENTRY PAGE--------*/
/*-------------------------*/

button:hover {
    background-color: lightblue;
    color: white;
  }

#one {
    color: red;
    opacity: 70%;
}

#two {
    color: orange;
    opacity: 70%;
}

#three {
    color: yellow;
    opacity: 70%;
}

#four {
    color: green;
    opacity: 70%;
}

#five {
    color: blue;
    opacity: 70%;
}

.mid {
    margin: 100px auto;
    max-width: 1150px;
}

.emos {
    border-radius: 9999px;
    width: 85px;
    height: 85px;
    background-color: none;
    border: none;
}
span {
    display: none;
}
.conNote {
    max-width: 900px;
}

input {
    height: 50px;
}

textarea {
    resize: none;
}

h5 {
    letter-spacing: 6px;
}

#entrySlot {
    opacity: 70%;
    color: rgb(119, 116, 108);
    /*font-size: 70%*/
    font-size: 0.8rem
    
}

#entryForm {
    opacity: 70%;
}

button {
    opacity: 70%;
    
    
}

/*Recents Entry Page Template - Character Max Count/Lines Count*/

.truncate {   
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  
  }

h4 {
    padding: 20px;
    font-size: 0.8rem;
    margin: 0;
    display: grid;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    
}
  
/*  */
#backgroundVD {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

#backgroundEntry {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

#backgroundRecents {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

#background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;

}

#calendar {
    /* position: relative; */
    margin-top: 125px;
    margin-bottom: 100px;
}

html {
    scroll-behavior: smooth;
}


