:root{
    opacity: 100%;
}
#my_dataviz {
    opacity: 100% !important;
}

#logo {
    width: 100px;
}

logo {
    letter-spacing: 6px;
    font-size: 14px;
    font-weight: lighter;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    margin-right: -10px;
    padding-right: 0px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125)
}

/* .todo-indicator {
    position: absolute;
    width: 6px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
} */

body {
    font-family: 'Montserrat', sans-serif; 
    height: 100%
}

h1 {
    letter-spacing: 6px;
}

/*ENTRY PAGE */

button:hover {
    background-color: lightblue;
    color: white;
  }

#one {
    color: red;
    opacity: 70%;
}

#two {
    color: orange;
    opacity: 70%;
}

#three {
    color: yellow;
    opacity: 70%;
}

#four {
    color: green;
    opacity: 70%;
}

#five {
    color: blue;
    opacity: 70%;
}

.mid {
    margin: 100px auto;
    max-width: 1150px;
}

.emos {
    border-radius: 9999px;
    width: 85px;
    height: 85px;
    background-color: none;
    border: none;
}
span {
    display: none;
}
.conNote {
    max-width: 900px;
}

input {
    height: 50px;
}

textarea {
    resize: none;
}

h5 {
    letter-spacing: 6px;
}

#entrySlot {
    opacity: 70%;
}

#entryForm {
    opacity: 70%;
}

button {
    opacity: 70%;
}